{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form class="register-login-pos" method="post">
    <div class="register-login">
      <label for="username">Username</label>
      <input name="username" id="username" required>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
      <button type="submit" class="register-login-btn">Log In</button>
    </div>
  </form>
{% endblock %}