<!doctype html>
<!-- <title>{% block titel %}{% endblock %} - Flaskr</title> -->
<link rel="stylesheet" href="../static/registerloginstyling.css">
<body class="page-back">
    <nav class="navbar">
        <h1>You are just one step away</h1>
        <ul>
            <li><a href="{{ url_for('poetrywall.index') }}">Home</a></li>
            {% if g.user %}
                <li><span>{{ g.user['username'] }}</span></li>
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
            {% else %}
                {% if request.endpoint != 'auth.login' %}
                    <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
                {% if request.endpoint != 'auth.register' %}    
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
    <section class="register-login">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
</body>